body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background-color: rgb(232, 188, 188);
}
      
.heder_bar{
    height: 75px;
    margin-top: -21px;
    background-color: black;
}
h1,a {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: gold;
}
h1,a:hover{
    color:rgb(240, 238, 225) ;
}
.upper_carousel{
    width: 1150px;
    height: 250px;
    background-color: blueviolet;
    height: 250px;
    margin: 10px auto 0 auto;
}
.conteiner{
    width: 1150px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
                          @media (max-width:1150px){
                                .conteiner {
                                        max-width: 950px;
                          } 
            
                          } @media (max-width:992px){
                                .conteiner {
                                        max-width: 750px;
                          } 
            
                          }    
                          @media (max-width:768px){
                                .conteiner {
                                        max-width: 650px;
                          } 
            
                          }    
                           @media (max-width:550px){
                                .conteiner {
                                        max-width: 450px;
                          } 
            
                          }
                          @media (max-width:412px){
                                .conteiner {
                                        max-width: 350px;
                                        display: contents;
                                        align-content: flex-start;
                                        
                          } 
            
                          }
                         /*  @media (max-width:550px){
                                .conteiner {
                                        max-width: 450px;
                          } 
            
                          } */

.basic_conteiner{
    width: 740px;
    margin: 10px 10px 10px 0;
    background-color: burlywood;
}
.first_wallet{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    margin: 10px 10px;
}
.img1wallet, img{
    margin: 5px 10px auto 5px;
    width: 250px;
}
.img1wallet_description li{
    background-color: antiquewhite;
    list-style: none;
    margin: 0 auto;
}
.right_conteiner{
    width: 400px;
    margin:10px 0 10px 0 ;
    background-color: chartreuse;
}
footer{
    background-color: gray;
}
footer a{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    list-style: none;
    color: cornflowerblue;
}
footer ul{
    display: flexbox;
    flex-direction: row;
}